.heading{
    color: red;
    background-color: blue;
}
*{
    text-align: center;
}
.font-style{
    font-family: 'Times New Roman', Times, serif;
}
.msg{
    background-color: magenta;
    color: blue;
}

.msg1{
    background-color: magenta;
    color: blue;
}
.msg2{
    background-color: blue;
    color: magenta;
}
::selection {
    color: blue;
    /* background: yellow; */
  }